{% extends 'base.html.twig' %}

{% block title %}Page d'acceuil
{% endblock %}

{% block body %}

	<div class="apropos" id="apropos">
		<h2>
			<strong>A propos de moi</strong>
		</h2>
		<img src="{{asset('ressources/PhotoProfil.jpg')}}" alt="">
		<h2>
			<strong>Etudiant en licence professionelle développement internet et mobile.</strong>
		</h2>
		<p>Je m'appelle Max Pochet, j'ai 20 ans et j'habite à Calais. Titulaire du permis B, je peux donc me déplacer sur tout le littoral ou la région lilloise.</p>
	</div>

	<div class="partie">
        <h2 class="formation" data-aos="fade-left">
            <strong>Education</strong>
        </h2>
        <div class="education" id="education">
            <h2 class="formation" data-aos="fade-right">Formations</h2>
            <div class="formations">
                <div class="formation" data-aos="fade-right">
                    <h3>licence pro DIM</h3>
                    <h3>2021-2022</h3>
                    <p> Je suis actuellement en licence professionelle développement internet et mobile à l'IUT de Calais. Cette licence m'a permis d'apprendre différents frameworks back et front. Mais aussi à faire des maquettes et de la conception.</p>
                </div>
                <div class="formation" data-aos="fade-left">
                    <h3>DUT informatique</h3>
                    <h3>2019-2021</h3>
                    <p>Obtention de mon DUT grâce auquel j'ai pu apprendre la programmation aussi bien objet, que de site web. Mais aussi les fondamentaux du réseau, des bases de données et de la gestion de projet. J'ai effectué ma première année en formation initiale et la seconde en alternance.</p>
                </div>
            </div>
            <h2 data-aos="fade-left">Diplomes</h2>
            <div class="diplomes">
                <div class="diplome" data-aos="fade-right">
                    <h3>Baccalaureat</h3>
                    <h3>Juillet 2019</h3>
                    <p>Obtention du Baccalaureat avec mention assez bien et mention européenne</p>
                </div>
                <div class="diplome" data-aos="fade-left">
                    <h3>IGCSE</h3>
                    <h3>Mars 2019</h3>
                    <p>Diplome equivalent au brevet des colleges anglais de Cambridge</p>
                </div>
            </div>
        </div>
    </div>

    <div class="partie">
        <h2 class="formation" data-aos="fade-left">
            <strong>Compétences informatiques</strong>
        </h2>
        <div class="competences" id="competences">
            <div class="competence" data-aos="zoom-out-right">
                <i style="color:#be4bdb" class="fab fa-html5"></i>
                <p>HTML</p>
            </div>
            <div class="competence" data-aos="zoom-out-down">
                <i style="color:#82c91e" class="fab fa-css3-alt"></i>
                <p>CSS</p>
            </div>
            <div class="competence" data-aos="zoom-out-left">
                <i style="color:#EFD81D" class="fab fa-js"></i>
                <p>JS</p>
            </div>
            <div class="competence" data-aos="fade-right">
                <i style="color:#15aabf" class="fab fa-java"></i>
                <p>Java/J2EE</p>
            </div>
            <div class="competence" data-aos="zoom-in-down">
                <i color="f457" class="fab fa-symfony"></i>
                <p>Symfony</p>
            </div>
            <div class="competence" data-aos="fade-left">
                <i style="color:black" class="fas fa-mobile-alt"></i>
                <p>Flutter</p>
            </div>
            <div class="competence" data-aos="zoom-in-right">
                <i style="color:#15aabf"class="fab fa-node-js"></i>
                <p>NodeJs</p>
            </div>
            <div class="competence" data-aos="zoom-in-up">
                <i style="color:#4c6ef5" class="fab fa-php"></i>
                <p>PHP</p>
            </div>
            <div class="competence" data-aos="zoom-in-left">
                <i style="color:#be4bdb" class="fab fa-python"></i>
                <p>Python</p>
            </div>
        </div>
    </div>
{% endblock %}
